h3 {
  width: 338px;
  height: 28px;
  margin: 73px 176px 73.5px 8px;
  opacity: 0.8;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}
h2 {
  width: 136px;
  height: 28px;
  margin: 0 auto;
  font-family: TTNorms;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #1f4eb2;
}
.category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
